# deps
node_modules/
**/node_modules/

# build outputs
dist/
lib/
.next/
output/
coverage/

# firebase logs
firebase-debug.log
firestore-debug.log
storage-debug.log
*-debug.log

# env
.env
.env.local
.env.*.local

# misc
.DS_Store
